h1{

    font-size: 50px;
    

}
body
{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.name-highlite
{
    color: orange;
}
.half-width
{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
    
}

.half-width img
{
    width: 100%;
}
.top-banner
{
    
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
section{
    height: 700px;
}